<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IFit - Contato</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Archivo+Black&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contato.css') }}">

</head>
<body>
    <header id="navbar" class="top-bar font-archivo">
        <nav class="nav-bar container">
            <img src="/static/images/ifit_high_resolution_logo_transparent_1.png" alt="IFit Logo" class="logo">
            <div class="nav-links">
                <a href="{{ url_for('index') }}" role="button" class="top-bar-button">Início</a>
                <a href="{{ url_for('sobre') }}" role="button" class="top-bar-button">Sobre</a>
                <a href="{{ url_for('planos') }}" role="button" class="top-bar-button">Planos</a>
                <a href="{{ url_for('contato') }}" role="button" class="top-bar-button">Contato</a>
                {% if 'username' in session %}
                    <a href="{{ url_for('logout') }}" class="top-bar-button">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}" class="top-bar-button">Login</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <button id="menu-button" class="menu-button">☰</button>

    <!-- Sidebar -->
    <div id="sidebar" class="sidebar font-archivo">
        <a href="{{ url_for('index') }}">Início</a>
        <a href="{{ url_for('sobre') }}">Sobre</a>
        <a href="{{ url_for('planos') }}">Planos</a>
        <a href="{{ url_for('contato') }}">Contato</a>
        {% if 'username' in session %}
            <a href="{{ url_for('logout') }}" class="top-bar-button">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}" class="top-bar-button">Login</a>
        {% endif %}
    </div>

    <main class="main-contact main-content">
        <section class="hero">
            <div class="container">
                <h1>Entre em contato</h1>
                <p>Alguma dúvida mande uma mensagem</p>
            </div>
        </section>

        <section class="container">
            <div class="contact-form">
                <div class="form-text">
                    <h2>Entre em contato</h2>
                    <p>Caso necessite de ajuda com algo a mais</p>
                </div>
                <form action="/contato" method="POST">
                    <input type="text" id="name" name="name" placeholder="Nome" required>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                    <textarea placeholder="Sua mensagem" id="message" name="message" required></textarea>
                    <button type="submit" class="btn">Enviar</button>
                </form>
            </div>
        </section>
    </main>

    <div class="zoom-widget">
        <button class="zoom-toggle">
            🔍
        </button>
        <div class="zoom-options">
            <button class="zoom-in">+</button>
            <button class="zoom-out">−</button>
        </div>
    </div>
    
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
      </div>
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
      </script>

    <footer>
        <p>Copyright © 2024 IFit. Todos Direitos Reservados.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>